[submodule "sglang"]
	path = third-party/sglang
	url = https://github.com/sgl-project/sglang.git
	shallow = true
[submodule "third-party/mooncake"]
	path = third-party/mooncake
	url = https://github.com/kvcache-ai/Mooncake.git
	shallow = true
[submodule "third-party/vllm"]
	path = third-party/vllm
	url = https://github.com/vllm-project/vllm.git
	shallow = true
